{% extends 'base.html.twig' %}

{% block title %}Hello MixController!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="d-inline me-3">{{ mix.title }}</h1>
        <div class="row mt-5">
            <div class="col-12 col-md-4">
                <svg width="100%" height="100%" viewBox="0 0 496 496" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                </svg>
            </div>
            <div class="col-12 col-md-8 ps-5">
                TODO: print track count, genre and description
            </div>
        </div>
    </div>
{% endblock %}
